.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #dde2eb;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(147, 147, 147, 0.3);
}
.ant-tabs-nav::before{
  border: 0 !important;


}

.ant-slider-rail,.ant-slider-track{
  height: 10px;
  border-radius: 6px;
  top: 1px;
}
.ant-slider-track{
  background-color: #6ca5fe;
}
